.bg-img {
  background: url(images/grocery.webp);
  height: 100vh;
  background-size: cover;
  background-position: center center;

}

.banner-outer {
  height: 80%;
  display: grid;
  place-items: center;
}

.banner-heading {
  font-size: 47px;
  font-weight: 700;
}

.product {
  background-color: #F3F4F6;
}

.bag{
  width: 110px;
  height: 100px;
  background-color: #019376;
  border-radius: 8px;
  display: grid;
  place-items: center;
  color:white;
  position: fixed;
  right: -1%;
  top: 40%;
  z-index: 1000;
}